/*---------------------------Fonts -----------------------------------------*/

body {
	font: 1em Ruluko, sans-serif; /* 16px */
}

h1,h2,h3,h4,h5,h6 {
	font: 1.5em Handlee, cursive; /* 24px */
}

/*--------------------------Page Setup -------------------------------------*/

body {
	max-width: 960px;
	margin: 0 auto;
	padding: 0;
	background-image: url('../images/main_bg.jpg');
	background-attachment: fixed;
}

#wrapper {
	width: 100%;
	margin: 0 auto;
	font-size: 1em;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;
}

/*--------------------------Header ---------------------------------------*/

h1 {
	width: 68.75%; /* 660px */
	height: 52px;
	background: rgba(255, 255, 255, 0.5) url('../images/logo.png') no-repeat;
	text-indent: -50000px;
	-webkit-box-shadow: 0 3px 5px #734800;
	box-shadow: 0 3px 5px #734800;
	float: left;
}

nav ul {
	width: 30.9375%; /* 297px */
	height: 52px;
	list-style-type: none;
	float: left;
}

nav ul li {
	width: 33.333333333333%; /* 100px */
	height: 52px;
	line-height: 3;
	text-align: center;
	float: left;
}
nav a {
	width: 100%; /* 100px */
	height: 50px;
	text-decoration: none;
	display: block;
	border: 1px solid #E8C68B;
	color: #fff;
	background: -webkit-linear-gradient(#FACC7D, #FABC50, #855503);
	background: -moz-linear-gradient(#FACC7D, #FABC50, #855503);
	background: -o-linear-gradient(#FACC7D, #FABC50, #855503);
	background: -ms-linear-gradient(#FACC7D, #FABC50, #855503);
	background: linear-gradient(#FACC7D, #FABC50, #855503);
	-webkit-box-shadow: 0 3px 5px #734800;
	box-shadow: 0 3px 5px #734800;
}

nav a:hover {
	background: -webkit-linear-gradient(#855503, #FABC50, #FACC7D);
	background: -moz-linear-gradient(#855503, #FABC50, #FACC7D);
	background: -o-linear-gradient(#855503, #FABC50, #FACC7D);
	background: -ms-linear-gradient(#855503, #FABC50, #FACC7D);
	background: linear-gradient(#855503, #FABC50, #FACC7D);
	color: #000;
	-webkit-box-shadow: 0 1px 3px #000;
	box-shadow: 0 1px 3px #000;
}

/*--------------------------CTA -------------------------------------------*/

.cta {
	width: 100%; /* 960px */
	height: auto;
	overflow: hidden;
	margin-bottom: 30px;
	padding-bottom: 30px;
	background: rgba(186, 120, 4, 0.3);
	border-radius: 0 0 10px 10px;
	-webkit-box-shadow: 0 3px 5px #734800;
	box-shadow: 0 3px 5px #734800;
	float: left;
}

#cta_img_container {
	width: 41.041666666667%; /* 394px */
	border: 3px solid white;
	margin: 30px 3.125% 0 3.125%; /* 27px */
	border-radius: 5px;
	float: left;
}

#cta_img_container img {
	max-width: 100%; /* 400px */
}

h2 {
	width: 48.958333333333%; /* 470px */
	margin-top: 30px;
	text-align: center;
	color: #fff;
	background: rgba(186, 120, 4, 0.5);
	border-radius: 10px 10px 0 0;
	text-shadow: 2px 3px 2px #010747;
	float: left;
}

.ctacontent {
	width: 46.875%; /* 450px */
	padding: 10px 1.041666666667% 10px 1.041666666667%; /* 10px */
	color: #1f1f1f;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 0 0 10px 10px;
	float: left;
}

#signup_btn {
	width: 12.5%; /* 120px */
	margin: 10px 3.125% 0 0; /* 10px 30px 0 0 */
	text-align: center;
	line-height: 1.5;
	float: right;
}

#signup_btn a {
	width: 100%; /* 120px */
	height: 30px;
	text-decoration: none;
	display: block;
	border-radius: 20px;
	color: #fff;
	-webkit-box-shadow: 2px 3px 5px #734800;
	box-shadow: 2px 3px 5px #734800;
	background: -webkit-linear-gradient(#F59D84, #B02904, #4D1101);
	background: -moz-linear-gradient(#F59D84, #B02904, #4D1101);
	background: -o-linear-gradient(#F59D84, #B02904, #4D1101);
	background: -ms-linear-gradient(#F59D84, #B02904, #4D1101);
	background: linear-gradient(#F59D84, #B02904, #4D1101);
	clear: both;
}

#signup_btn a:hover {
	background: -webkit-linear-gradient(#4D1101, #B02904, #F59D84);
	background: -moz-linear-gradient(#4D1101, #B02904, #F59D84);
	background: -o-linear-gradient(#4D1101, #B02904, #F59D84);
	background: -ms-linear-gradient(#4D1101, #B02904, #F59D84);
	background: linear-gradient(#4D1101, #B02904, #F59D84);
	color: #FABC50;
	-webkit-box-shadow: 0 1px 3px #000;
	box-shadow: 0 1px 3px #000;
}

/*---------------------------Gallery -----------------------------------------*/

.gallery {
	clear: both;
	margin: 30px 0;
	width: 100%; /* 960px */
	height: auto;
	overflow: hidden;
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.2);
	-webkit-box-shadow: 0 3px 5px #734800;
	box-shadow: 0 3px 5px #734800;
}

h3 {
	width: 92.708333333333%; /* 890px */
	padding-left: 2.083333333333%; /* 20px */
	color: #fff;
	background: rgba(186, 120, 4, .7);
	border-top-left-radius: 10px;
	text-shadow: 2px 3px 2px #010747;
	-webkit-box-shadow: 0 3px 5px #734800;
	box-shadow: 0 3px 5px #734800;
	float: left;
}

#toplink_gallery {
	width: 5.104166666667%; /* 49px */
	height: 33px;
	line-height: 2;
	text-align: center;
	float: left;
}

#toplink_gallery a {
	width: 100%; /* 49px */
	height: 33px;
	border-top-right-radius: 10px;
	text-decoration: none;
	background: rgba(255, 255, 255, 0.5);
	color: #A65F03;
	-webkit-box-shadow: 0 3px 5px #734800;
	box-shadow: 0 3px 5px #734800;
	display: block;
}

#toplink_gallery a:hover {
	color: #C90202;
	-webkit-box-shadow: 1px 0 3px #C90202;
	box-shadow: 1px 0 3px #C90202;
}

#g_images ul {
	width: 100%; /* 960px */
	margin-top: 30px;
	list-style-type: none;
	float: left;
}

#image_g1 {
	width: 15.625%; /* 150px */
	margin: 0 9.583333333333% 0 3.125%; /* 0 92px 0 30px */
	border: 3px solid white;
	border-radius: 5px;
	background-color: #fff;
	-webkit-box-shadow: 0 3px 5px #734800;
	box-shadow: 0 3px 5px #734800;
	float: left;
}

#image_g1 img {
	max-width: 100%;
}

#image_g2 {
	width: 15.625%; /* 150px */
	margin-right: 9.583333333333%; /* 92px */
	border: 3px solid white;
	border-radius: 5px;
	background-color: #fff;
	-webkit-box-shadow: 0 3px 5px #734800;
	box-shadow: 0 3px 5px #734800;
	float: left;
}

#image_g2 img {
	max-width: 100%;
}

#image_g3 {
	width: 15.625%; /* 150px */
	margin-right: 9.583333333333%; /* 92px */
	border: 3px solid white;
	border-radius: 5px;
	background-color: #fff;
	-webkit-box-shadow: 0 3px 5px #734800;
	box-shadow: 0 3px 5px #734800;
	float: left;
}

#image_g3 img {
	max-width: 100%;
}

#image_g4 {
	width: 15.625%; /* 150px */
	border: 3px solid white;
	border-radius: 5px;
	background-color: #fff;
	-webkit-box-shadow: 0 3px 5px #734800;
	box-shadow: 0 3px 5px #734800;
	float: left;
}

#image_g4 img {
	max-width: 100%;
}

/*-------------------------Testimonies ------------------------------------------*/

.testimony_list ul {
	width: 100%; /* 960px */
	margin-top: 30px;
	list-style-type: circle;
	float: left;
}

.g1_testimony {
	width: 16.25%; /* 156px */
	margin: 0 9.583333333333% 0 3.125%; /* 0 92px 0 30px */
	float: left;
}

.g2_testimony {
	width: 16.25%; /* 156px */
	margin-right: 9.583333333333%; /* 92px */
	float: left;
}

.g3_testimony {
	width: 16.25%; /* 156px */
	margin-right: 9.583333333333%; /* 92px */
	float: left;
}

.g4_testimony {
	width: 16.25%; /* 156px */
	float: left;
}

.testimony_paragraph {
	width: 91.666666666667%; /* 880px */
	margin: 30px 3.125% 0 3.125%; /* 30px 30px 0 30px */
	padding: 1.136363636364%; /* 10px */
	background: rgba(255, 255, 255, 0.3);
	border-radius: 10px 10px 10px 0;
	float: left;
}

.testimony_john {

	width: 50%; /* 480px */
	margin-left: 3.125%; /* 30px */
	background: rgba(255, 255, 255, 0.3);
	padding: 10px 2.083333333333% 10px 2.083333333333%; /* 10px */
	border-radius: 0 0 10px 10px;
	float: left;
}

/*-----------------------------Aside (Extra Info) ---------------------------*/

.extra_info {
	clear: left;
	width: 41.666666666667%; /* 400px */
	margin: 30px 3.125% 30px; /* 60px 30px 30px */
	float: right;
}

h4 {
	font-size: 1.125em; /* 18px */
	text-align: center;
	color: #fff;
	background: rgba(186, 120, 4, .7);
	text-shadow: 2px 3px 2px #010747;
	-webkit-box-shadow: 0 3px 5px #734800;
	box-shadow: 0 3px 5px #734800;
	border-radius: 10px 10px 0 0;
}

.extra_info p {
	width: 95%; /* 380px */
	padding: 10px 2.631578947368% 10px 2.631578947368%; /* 10px */
	background: rgba(255, 255, 255, 0.3);
	border-radius: 0 0 10px 10px;
	-webkit-box-shadow: 0 3px 5px #734800;
	box-shadow: 0 3px 5px #734800;
}

.extra_info a {
	color: #3F38FF;
}

.extra_info a:hover {
	color: #C90202;
}

/*-----------------------------About -----------------------------------------*/

.about_article {
	clear: both;
	background: rgba(255, 255, 255, 0.2);
	width: 100%; /* 960px */
	height: auto;
	padding-bottom: 30px;
	overflow: hidden;
	border-radius: 10px;
	-webkit-box-shadow: 0 3px 5px #734800;
	box-shadow: 0 3px 5px #734800;
}

h5 {
	width: 92.708333333333%; /* 890px */
	padding-left: 2.083333333333%; /* 20px */
	color: #fff;
	background: rgba(186, 120, 4, .7);
	text-shadow: 2px 3px 2px #010747;
	-webkit-box-shadow: 0 3px 5px #734800;
	box-shadow: 0 3px 5px #734800;
	border-top-left-radius: 10px;
	float: left;
}

#toplink_about {
	width: 5.104166666667%; /* 49px */
	height: 33px;
	line-height: 2;
	text-align: center;
	float: left;
}

#toplink_about a {
	width: 100%; /* 49px */
	height: 33px;
	border-top-right-radius: 10px;
	text-decoration: none;
	background: rgba(255, 255, 255, 0.5);
	color: #A65F03;
	-webkit-box-shadow: 0 3px 5px #734800;
	box-shadow: 0 3px 5px #734800;
	display: block;
}

#toplink_about a:hover {
	color: #C90202;
	-webkit-box-shadow: 1px 0 3px #C90202;
	box-shadow: 1px 0 3px #C90202;
}

.emphasis {
	font-weight: bolder;
	font-style: italic;
}

.about_article div {
	clear: both;
	padding-top: 30px;
	margin: 0 3.125%; /* 0 30px */
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
	-webkit-column-gap: 1.875em; /* 30px */
	-moz-column-gap: 1.875em; /* 30px */
	column-gap: 1.875em; /* 30px */
}

/*-----------------------------Sign-Up Form to be added later ------------------*/

.signup_form {
	margin-top: 30px;
}

h6 {
	width: 92.708333333333%; /* 890px */
	padding-left: 2.083333333333%; /* 20px */
	margin-bottom: 30px;
	color: #fff;
	background: rgba(186, 120, 4, .7);
	text-shadow: 2px 3px 2px #010747;
	-webkit-box-shadow: 0 3px 5px #734800;
	box-shadow: 0 3px 5px #734800;
	border-top-left-radius: 10px;
	float: left;
}

#toplink_signup {
	width: 5.104166666667%; /* 49px */
	height: 33px;
	line-height: 2;
	text-align: center;
	float: left;
}

#toplink_signup a {
	width: 100%; /* 49px */
	height: 33px;
	border-top-right-radius: 10px;
	text-decoration: none;
	background: rgba(255, 255, 255, 0.5);
	color: #A65F03;
	-webkit-box-shadow: 0 3px 5px #734800;
	box-shadow: 0 3px 5px #734800;
	display: block;
}

#toplink_signup a:hover {
	color: #C90202;
	-webkit-box-shadow: 1px 0 3px #C90202;
	box-shadow: 1px 0 3px #C90202;
}

/*----------------------------Footer ----------------------------------------------*/

footer p {
	text-align: center;
	width: 48.958333333333%; /* 470px */
	padding-bottom: 30px;
	margin: 30px auto;
}

/*---------- Tablet Portrait size to standard 960 (devices and browsers) ----------*/

@media screen and (min-width: 768px) and (max-width: 959px) {
	
	nav a {
		font-size: 0.875em;
		line-height: 3.5;
	}
	

	#signup_btn a {
		font-size: 0.875em;
		line-height: 2;
		clear: both;
	}
}

/*---------- Mobile Landscape Size to Tablet Portrait (devices and browsers) -------*/

@media only screen and (min-width: 480px) and (max-width: 767px) {

	h2, h3, h5, h6 {
		font-size: 1.25em;
	}

	#wrapper {
		font-size: 0.875em;
	}
	
	h1 {
		width: 100%; /* 480px */
	}
	
	nav ul {
	width: 100%; /* 480px */
	height: 25px;
	}

	nav ul li {
		width: 33.33333333333333%; 
		height: 25px;
		font-size: 1.25em;
		line-height: 1.3;
	}
	
	nav a {
		width: 100%; 
		height: 25px;
	}
	
	h2 {
		width: 93.75%; /* 450px */
		margin: 15px 3.125% 0; /* 15px */
	}
	
	#cta_img_container {
		display: none;
	}
	
	.ctacontent {
		width: 91.458333333334%; /* 440px */
		margin-left: 3.125%; /* 15px */
		padding: 5px 1.136363636364%; /* 5px 5px */
	}
	
	#signup_btn {
		clear: left;
		width: 120px;
		line-height: 2;
	}
	
	#toplink_gallery a {
		height: 25px;
	}
	
	.testimony_list ul {
	width: 100%; /* 960px */
	margin-top: 15px;
	list-style-type: circle;
	float: left;
	}

	.g1_testimony {
	width: auto;
	margin-left: 6.25%;
	padding: 5px 0;
	float: left;
	}

	.g2_testimony {
	margin-left: 6.25%;
	padding: 5px 0;
	width: auto;
	float: left;
	}

	.g3_testimony {
	margin-left: 6.25%;
	padding: 5px 0;
	width: auto;
	float: left;
	}

	.g4_testimony {
	margin-left: 6.25%;
	padding: 5px 0;
	width: auto;
	float: left;
	}
	
	.testimony_paragraph {
		margin: 15px 3.125% 0 3.125%; /* 15px 15px 0 15px */
	}
	
	.testimony_john {
		padding: 0 2.083333333333% 10px 2.083333333333%;
	}
	
	.extra_info {
		width: 50%;
	}
	
	h4 {
		font-size: 1em;
	}
	
	#toplink_about a {
		height: 25px;
	}
	
	.about_article {
		/*height: 430px;*/ height: auto;
		overflow: hidden;
	}
	
	.about_article div {
	padding: 5px;
	-webkit-column-count: 1;
	-moz-column-count: 1;
	column-count: 1;
	-webkit-column-gap: 0;  
	-moz-column-gap: 0; 
	column-gap: 0; 
	}
	
	.signup_form {
		margin-top: 15px;
	}
	
	#toplink_signup a {
		height: 25px;
	}
}

/*---------- Mobile Portrait Size to Mobile Landscape Size (devices and browsers) -*/

@media screen and (max-width: 479px) {

	h2, h3, h5, h6 {
		font-size: 1.25em;
	}

	#wrapper {
		font-size: 0.875em;
	}
	
	h1 {
		width: 100%; /* 480px */
	}
	
	nav ul {
	width: 100%; /* 480px */
	height: 25px;
	}

	nav ul li {
		width: 33.33333333333333%; 
		height: 25px;
		font-size: 1.25em;
		line-height: 1.3;
	}
	
	nav a {
		width: 100%; 
		height: 25px;
	}
	
	h2 {
		width: 93.75%; /* 450px */
		margin: 15px 3.125% 0; /* 15px */
	}
	
	#cta_img_container {
		display: none;
	}
	
	.ctacontent {
		width: 91.458333333334%; /* 440px */
		margin-left: 3.125%; /* 15px */
		padding: 5px 1.136363636364%; /* 5px 5px */
	}
	
	#signup_btn {
		clear: left;
		width: 120px;
		line-height: 2;
	}
	
	#toplink_gallery a {
		height: 25px;
	}
	
	#image_g1 {
		width: 30%; /* 150px */
		margin: 0 13.333333333333% 30px 13.333333333333%; /* 0 92px 0 30px */
	}

	#image_g1 img {
		max-width: 100%;
	}

	#image_g2 {
		width: 30%; /* 150px */
		margin: 0;
		float: left;
	}

	#image_g2 img {
		max-width: 100%;
	}

	#image_g3 {
		clear: left;
		width: 30%; /* 150px */
		margin: 0 13.333333333333% 30px 13.333333333333%; /* 0 92px 0 30px */
		float: left;
	}

	#image_g3 img {
		max-width: 100%;
	}

	#image_g4 {
		width: 30%; /* 150px */
		border: 3px solid white;
		float: left;
	}

	#image_g4 img {
		max-width: 100%;
	}
	
	.testimony_list ul {
	width: 100%; /* 960px */
	margin-top: 15px;
	list-style-type: circle;
	float: left;
	}

	.g1_testimony {
	width: auto;
	margin-left: 6.25%;
	padding: 5px 0;
	float: left;
	}

	.g2_testimony {
	margin-left: 6.25%;
	padding: 5px 0;
	width: auto;
	float: left;
	}

	.g3_testimony {
	margin-left: 6.25%;
	padding: 5px 0;
	width: auto;
	float: left;
	}

	.g4_testimony {
	margin-left: 6.25%;
	padding: 5px 0;
	width: auto;
	float: left;
	}
	
	.testimony_paragraph {
		margin: 15px 3.125% 0 3.125%; /* 15px 15px 0 15px */
	}
	
	.testimony_john {
		padding: 0 2.083333333333% 10px 2.083333333333%;
	}
	
	.extra_info {
		width: 75%;
	}
	
	h4 {
		font-size: 1em;
	}
	
	#toplink_about a {
		height: 25px;
	}
	
	.about_article {
		/*height: 430px;*/ height: auto;
		overflow: hidden;
	}
	
	.about_article div {
	-webkit-column-count: 1;
	-moz-column-count: 1;
	column-count: 1;
	-webkit-column-gap: 0;  
	-moz-column-gap: 0; 
	column-gap: 0; 
	}
	
	.about_article div p {
		padding: 5px;
	}
	
	.signup_form {
		margin-top: 15px;
	}
	
	#toplink_signup a {
		height: 25px;
	}
}
